body{
	background-color: #1d2834;
	/*height: 1000px;*/
}


/*div center*/
.center{
	margin: auto;
	width: 50%;
	padding: 10px;
}


/*profile flex*/
.flex-container{
	display: flex;
	flex-direction: row;
    padding-top: 2px;
}
.flex-container>div{
	width: 250px;
	margin: auto;
	/*background-color: cyan;*/
}


/*profile image*/
.profile-image{
	/*padding: 20px;*/
	/*margin: auto;*/
	height: 130px;
	width: 130px;
	border-radius: 100px;
}



/*tooltiprony*/
.tooltiprony{
    position: relative;
    display: inline-block;
    border:1px solid #28585b;
    border-radius: 50px;
    /*border-bottom: 1px dotted purple;*/
}
.tooltiprony .tooltiptext{
    visibility: hidden;
    width: 250%;
    background-color: #28585b;
    color: white;
    text-align: center;
    border-radius: 200px;
    /*padding: 5px 15px;*/

    position: absolute;
    z-index: 1;
    top: 100px;
    right: 70%;
}
.tooltiprony:hover .tooltiptext{
    visibility: visible;
}


/* design */
.design{
    position: relative;
	height: px;
    /*margin: 30px 30px;*/
}
.des1,.des2,.des3,.des4,.des5,.des6,.des7{
    /*margin: 5px 0px;*/
    width: 60%;
    height: 1.5px;
    border-radius: 10px;
}
.des1{
    background:  #9400D3;
    position: relative;
    animation: doit 3s infinite;
    animation-direction: alternate;
}
.des2{
    background:  #4B0082;
    position: relative;
    animation: doit 3.5s infinite;
    animation-direction: alternate;
}
.des3{
    background:  #0000FF;
    position: relative;
    animation: doit 3s infinite;
    animation-direction: alternate;
}
.des4{
    background:  #00FF00;
    position: relative;
    animation: doit 3.5s infinite;
    animation-direction: alternate;
}
.des5{
    background:  #FFFF00;
    position: relative;
    animation: doit 3s infinite;
    animation-direction: alternate;
}
.des6{
    background:  #FF7F00;
    position: relative;
    animation: doit 3.5s infinite;
    animation-direction: alternate;
}
.des7{
    background:  #FF0000;
    position: relative;
    animation: doit 3s infinite;
    animation-direction: alternate;
}
@keyframes  doit{
    0%{left: 0%;top: 0px;height: px;width: px;}
    50%{left: 80%;top: 0px;height: px;width: px;}
    100%{left: 0%;top: 0px;height: px;width: 20%;}
}





